<?php

// Set default destination for drush backups
$options['backup-dir'] = '/home/vagrant/.drush/drush_backups';

// Set default destination for drush sql dumps
$options['dump-dir'] = '/home/vagrant/.drush/drush_dumps';

// Set additional location for drush alias files
$options['alias-path'] = '/home/vagrant/.drush/aliases/separate';

$options['structure-tables']['common'] = array('{{ drush_structure_tables | join("','") }}');

